

section {
    display: flex;
    flex-direction: row;
    display: flex;

    /*display: flex;*/
    /* enter needed declarations here */
}

section:nth-of-type(1) {
    height: 3em;
    background: gray;
    justify-content: space-between;
    align-items: center;
    /* enter needed declarations here */
}
section:nth-of-type(1) div:last-child {
    align-self: flex-start;
    /* enter needed declarations here */
}
