
.fancy-header{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.fancy-subtitle{
    color: orangered;
    text-decoration:underline;
    text-align: left;
}
.new-color {
    background-image:url(../Img/pexels-ragga-muffin-2468773.jpg);
    background-size: cover;
    font-family: 'Water Brush', cursive;
}
li{
    color: #55ff00
}
h3{
    text-decoration: underline;
    color: chocolate;
}
table{
    color: #2777bd;
}
h4{
    color: darkorange;
}
h5{
    color: darkred;
}
a:hover {
    color:brown;
    }
a:active {
    color:green;
}
